<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Detail</title>
</head>
<body>
{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <h1>Task Details</h1>
            {{error}}
            <h1 class="text-secondary">Task name: {{ task.title }}</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Update
                </button>
                </form>
            <div class="d-flex mt-2" >

                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary">
                        Complete Task
                    </button>
                </form>
                <p> </p>
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Delete Task
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock%}

</body>
</html>